<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Dashboard</title>
	<link rel="stylesheet" type="text/css" href="css/user.css">
</head>
<body>
	<!-- Dashboard admin with manager restaurant -->
	<header id="header">
		<ul>
			<li><a href="#">Home</a></li>
			<li>
				<a href="#">Profile</a>
				<!-- <img src=""> -->
			</li>
		</ul>
	</header>
	<!-- Select menu and reservation of admin -->
	<div id="container">
		<ul>
			<li>
				<a href="#">Menu</a>
				<ul class="sub-menu">
					<li><a href="#">Menu 1</a></li>
					<li><a href="#">Menu 2</a></li>
					<li><a href="#">Menu 3</a></li>
				</ul>
			</li>
			<li>
				<a href="#">Reservation</a>
				<ul class="sub-reservation">
					<li><a href="#">Reservation 1</a></li>
					<li><a href="#">Reservation 2</a></li>
					<li><a href="#">Reservation 3</a></li>
				</ul>
			</li>
			<li>
				<a href="#">Shop page</a>
			</li>
		</ul>
	</div>
</body>
</html>